:root{
    --color-1 : rgb(28, 55, 104); 
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

nav{
    border-bottom: 1px solid var(--color-1);
    font-size: 15px;
}

#carousel_img {
    height: 80vh;
}

#text_underline{
    height: 5px;
    width: 100px;
    background: var(--color-1);
    margin-bottom: 3%;
}
.upper-footer{
    background: rgb(129, 129, 129);
    border-top: 3px solid var(--color-1);
}

.bottom_footer{
    background: var(--color-1);
    color: #fff;
}

#dev_text{
    text-align: end;
}

#dev_text a{
    font-weight: bold;
    font-style: italic;
    color: gold;
}

.about_ethereal{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

.upper-footer a {
    color: #cecece;
    font-size: 13px;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
}

#upper-footer-col-3 a {
    font-weight: bold;
}

#admission_btn{
    color: var(--color-1);
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
}

#admission_btn:hover{
    background-color: var(--color-1);
    color: #fff;
    transform: scale(1.2);
}

.footer_head{
    color: #fff;
    font-size: 15px;
    margin-top: 2%;
    font-weight: bold;
}

#address{
    color: #cecece;
    font-size: 13px;
    line-height: 5px;
}

@media(max-width:520px){
    .bottom_footer{
        text-align: center;
    }
    #dev_text{
        text-align: center;
    }
}